body {
    font-family: "Roboto",  sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
}
.logo-top {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
margin-right: 76px; }
.link-name-top {
            color: #2e2f42;
        }
.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #fff;
}
.container-header {
    display: flex;
        align-items: center;
}
.header-list {
display: flex;
gap: 40px;
}
.header-list-item {
    display: flex;
    gap: 40px;
}
.page-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
}
.link {
    font-style: normal;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
}
.page-nav .link {
    color: #2e2f42;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
}
.address {
    margin-left: auto;
}
.address .link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.address .link:hover,
.address .link:focus {
    color: #404bbf;
}
.page-title {
    font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        padding-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}
.main-title { font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff;
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
    }

.button { font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.text {
    font-size: 16px;
    color: #434455;
}
.text-footer {
    color: #f4f4fd;
    max-width: 264px;
}
.page-footer {
    background: #2e2f42;
        color: #f4f4fd;
}
.logo-bottom { font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.advanteges {
    padding-top: 120px;
        padding-bottom: 120px;
}
.advanteges-list {
    display: flex;
        align-items: center;
        gap: 24px;
}
.advanteges-list-item {
    flex-basis: calc((100% - 72px) / 4);
}
.names {
    margin-bottom: 8px;
}
h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.team-card {
    text-align: center;
    padding-top: 120px;
        padding-bottom: 120px;
}
.team-members {
    margin-bottom: 72px;
}
.team-members-list {
    display: flex;
    gap: 24px;
}
.team-members-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
.team-members-item:last-child {
    margin-right: 0;
}
.team-members-container {
    padding-top: 32px;
   padding-bottom: 32px;
}
h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;
}
.services {
    padding-top: 120px;
    padding-bottom: 120px;
}
.service-titles {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    .service-titles-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        column-gap: 24px;
        row-gap: 48px;
    }
    .service-name-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .service-title-item {
        width: calc((100% - 48px) / 3);
    }
.link-name-bottom {
    color: #f4f4fd;
}
a {
    text-decoration: none;
    display: inline-block;
        flex-direction: row;
}
ul, ol {
    list-style-type: none;
        margin: 0;
        padding: 0;
}
.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}